
html {
  font-family:'Open Sans', Arial, sans-serif;
}

body {
  background-repeat:no-repeat;
  background-size:cover;
}

#container {
  margin:auto;
  width:90%;
  height:100%;
}

.sasystem {
  font-size: 50px;
  font-weight: 600;
  margin-left: 20px;
  margin-top:10px;
  letter-spacing: 1px;
  color: #fff;
  padding: 0px 0;
  border: none;
  text-transform: capitalize;
}

#logout {
  float:right;
  font-family:'Open Sans', Arial, sans-serif;
  font-size:10px;
  font-weight:bold;
  margin-right:10px;
  margin-top:10px;
}

.logout {
  text-align:right;
  background-color: #555;
  color:white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size:20px;
}

/* student profile */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  height:100%;
  margin: auto;
  padding:10px;
  padding-top:0;
  float: left;
  background-color:white;
}

.card h1 button {
  width:35px;
  height:35px;
  padding:0;
}

.card h1 button img {
  width:110%;
  height:110%;
  margin:0;
}

form input[type=text], form input[type=password] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

button, .profile input[type=submit] {
  border: none;
  outline: 0;
  display: inline-block;
  margin:2px;
  padding: 8px;
  color: white;
  background-color: #4CAF50;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card .cancel {
  background-color: red;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

#hide {
  display:none;
}

#edithide {
  display:block;
}

/* feedback */

.feedback {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  height:100%;
  margin: auto;
  padding:10px;
  padding-top:0;
  float: right;
  background-color:white;
}

.tablefeedback {
  width:100%;
  word-break: break-all;
  padding:5px;
}

.feedback table .name {
  width:60%;
}

.feedback tr td {
  padding:5px;
}
